* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.no-text-decoration {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.app-bar {
  display: flex;
  gap: 40px;
  padding: 20px;
  align-items: center;
  border-bottom: 1px solid black;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 40px;
}

.app-logo {
  display: flex;
  align-items: center;
  gap: 2px;
  font-size: x-large;
}

.app-logo p {
  font-weight: 700;
}

.nav-links {
  list-style-type: none;
  display: flex;
  gap: 40px;
  position: relative;
}

.dropdown {
  position: relative;
}

.dropdown:hover {
  cursor: pointer;
}

.dropdown-list,
.dropdown-list-profile {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  /* min-width: 140px; */
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  z-index: 100;
  padding: 10px 0;
  list-style-type: none;
}

.dropdown-list-profile {
  left: auto;
  right: 0;
}

.dropdown-list li,
.dropdown-list-profile li {
  padding: 10px 20px;
  white-space: nowrap;
  cursor: pointer;
}

.dropdown-list li:hover,
.dropdown-list-profile li:hover {
  background: #f0f0f0;
}

.dropdown:hover .dropdown-list,
.dropdown:hover .dropdown-list-profile {
  display: block;
}

.search-container {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px 20px;
}

.search-form {
  flex: 1;
}

.search-bar {
  width: 100%;
  height: 40px;
  font-style: italic;
  border: none;
  font-size: medium;
}

.home-page {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.movie-details-page,
.tv-show-details-page,
.people-details-page,
.search-results-page,
.login-page,
.signup-page,
.top-rated-page,
.popular-page {
  padding: 20px;
}

.home-page-header-content-wrapper {
  height: 250px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-page-content {
  padding: 0 20px;
}

.top-rated-container,
.popular-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.top-rated-header,
.popular-header {
  display: flex;
  align-items: center;
  gap: 40px;
}

.selector-list {
  display: flex;
  /* gap: 10px; */
  border-radius: 8px;
  border: 1px solid black;
}

.selector-item {
  padding: 0 20px;
  border-radius: 8px;
  font-weight: normal;
}

.selector-item:hover {
  cursor: pointer;
}

.selected {
  background-color: black;
  color: white;
}

.movies-list,
.credits-list {
  display: flex;
  gap: 40px;
  overflow-x: scroll;
  line-height: 20px;
}

.title-item,
.credit-item {
  display: flex;
  flex-direction: column;
  width: 150px;
}

.credit-item:hover {
  cursor: pointer;
}

.top-rated-content-wrapper,
.popular-content-wrapper {
  padding: 20px;
  display: flex;
  align-items: flex-start;
  gap: 50px;
}

.filter-panel {
  display: flex;
  flex-direction: column;
  width: 250px;
  border: 1px solid black;
  border-radius: 8px;
}

.filter-panel-header,
.filter-by-genres,
.filter-by-release-date,
.filter-by-ratings {
  padding: 10px;
}

.filter-panel-header,
.filter-by-genres,
.filter-by-release-date {
  border-bottom: 1px solid black;
}

.top-rated-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.title-poster-wrapper {
  width: 100%;
  height: 225px;
}

.title-poster {
  width: 100%;
  height: 100%;
  border-radius: 8px 8px 0 0;
}

.title-content {
  padding: 10px;
  border-radius: 0 0 8px 8px;
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.movie-poster,
.tv-show-poster,
.person-poster,
.credit-poster,
.person-credits-poster,
.search-result-people-poster,
.full-credits-header-poster {
  border-radius: 8px;
}

.movie-title,
.credit-title {
  margin-top: 10px;
  font-weight: 700;
}

.movie-release-date,
.credit-role {
  margin-top: 5px;
}

.movie-details-header,
.tv-show-details-header,
.person-details,
.search-results-container {
  display: flex;
  padding: 20px;
  gap: 50px;
}

.movie-details-header,
.tv-show-details-header {
  align-items: center;
}

.movie-details-content,
.tv-show-details-content,
.person-details-content {
  display: flex;
  flex-direction: column;
}

.movie-details-content,
.tv-show-details-content {
  gap: 40px;
}

.person-details-content {
  gap: 20px;
}

.movie-details-metadata,
.tv-show-details-metadata {
  display: flex;
  gap: 10px;
}

.content-actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content-popularity,
.content-save {
  display: flex;
  gap: 10px;
}

.content-credits {
  display: flex;
  align-content: space-evenly;
}

.content-creators {
  flex: 1;
}

.person-profile {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.person-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.movie-credits-container,
.movie-reviews-container,
.tv-show-credits-container,
.tv-show-reviews-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.view-more-credits-item {
  align-content: center;
  text-align: center;
  width: 150px;
  height: 225px;
  border-radius: 8px;
  font-weight: 700;
}

.view-more-credits-content {
  font-weight: 700;
}

.view-more-credits-content:hover {
  color: gray;
}

.episode-count {
  color: gray;
}

.reviews-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.review-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 8px;
}

.review-header {
  display: flex;
  gap: 20px;
}

.review-header img {
  border-radius: 8px;
}

.review-subtitle {
  display: flex;
  gap: 10px;
}

.read-all-reviews {
  margin-top: 10px;
}

.read-all-reviews h3:hover {
  color: gray;
}

.person-credits-container,
.search-results-list,
.watchlist {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.person-credits-list {
  display: flex;
  flex-direction: column;
}

.person-credits-item {
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.person-credits-content {
  flex: 1;
}

.search-results-container {
  align-items: flex-start;
}

.search-results-stats-container {
  border: 1px solid black;
  border-radius: 8px;
  min-width: 250px;
  display: flex;
  flex-direction: column;
}

.search-results-stats-header {
  padding: 20px;
  border-bottom: 1px solid black;
}

.search-results-stats-list {
  list-style-type: none;
  margin: 10px 0px;
}

.stat-item,
.selected-stat-item {
  display: flex;
  align-items: center;
  padding: 10px;
}

.stat-item:hover,
.selected-stat-item {
  cursor: pointer;
}

.selected-stat-item {
  background-color: gray;
  font-weight: 700;
}

.stat-item:hover,
.selected-stat-item:hover {
  background-color: lightgray;
}

.selected-stat-item .stat-title {
  color: white;
}

.stat-title {
  flex: 1;
}

.stat-number,
.selected-stat-number {
  padding: 5px 10px;
  border-radius: 8px;
}

.stat-number {
  background-color: lightgray;
}

.selected-stat-number,
.stat-item:hover .stat-number,
.selected-stat-item:hover .stat-number {
  background-color: white;
}

.search-result-item,
.watchlist-item {
  border: 1px solid black;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.search-result-poster-wrapper,
.full-credits-header-poster-wrapper,
.watchlist-poster-wrapper {
  min-width: 90px;
  width: 90px;
  height: 141px;
}

.search-result-poster,
.watchlist-poster {
  border-radius: 8px 0 0 8px;
}

.search-result-content,
.watchlist-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.search-result-people-item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.search-result-people-poster-wrapper {
  min-width: 66px;
  width: 66px;
  height: 66px;
}

.login-page,
.signup-page {
  text-align: center;
}

.login-form,
.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.login-form button,
.signup-form button {
  padding: 5px;
}

.full-credits-header {
  display: flex;
  align-items: center;
  padding: 10px 40px;
  gap: 20px;
  border-bottom: 1px solid black;
}

.full-credits-header-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.back:hover {
  cursor: pointer;
  color: gray;
}

.full-credits-container {
  display: flex;
  padding: 40px;
  justify-content: space-evenly;
}

.full-cast-wrapper,
.full-crew-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cast-list,
.crew-group,
.crew-members-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.crew-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cast-item,
.crew-item {
  display: flex;
  gap: 20px;
  align-items: center;
}

.cast-item-poster,
.crew-item-poster {
  border-radius: 8px;
}

.cast-roles,
.crew-roles {
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap; /* Prevents wrapping */
  width: auto;
  overflow-x: auto; /* Adds horizontal scroll if needed */
}

.reviews-container {
  display: flex;
  padding: 40px;
  gap: 40px;
}

.write-review {
  min-width: 200px;
  width: 200px;
}

.user-profile-header {
  display: flex;
  align-items: center;
  padding: 20px 40px;
  gap: 20px;
  border-bottom: 1px solid black;
}

.user-profile-header-poster-wrapper {
  min-width: 120px;
  width: 120px;
  height: 120px;
}

.user-profile-header-poster {
  border-radius: 50%;
}

.user-profile-header-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.user-profile-header-rating {
  display: flex;
  gap: 10px;
  align-items: center;
}

.user-profile-content {
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.watchlist-content {
  flex: 1;
}

.watchlist-content-header {
  display: flex;
  gap: 10px;
}

.watchlist-title {
  flex: 1;
}

.remove:hover {
  cursor: pointer;
}
